@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

.heading-content {
    font-family: 'Montserrat', sans-serif;
    font-size: 5vw;
    font-weight: 600;
}
.img1 {
    position: absolute;
    left: 0;
}
.img2 {
    position: absolute;
    right: 0;
    transform: rotate(180deg);
}

@media all and (max-width:1024px) {
    .heading-content {
        font-size: 50px;
    }
}

@media all and (max-width: 375px) {
    .heading-content {
        font-size: 40px;
    }
}