@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,500&display=swap');



.bginput{
    
    font-family: "Arial";
    display: block;
    resize: none !important;
}
.submitButton {
    color: #e7e9e7;
    // padding: 0 32px;
    background-color: #df9318;
    // margin-bottom: 2%;
    cursor: pointer;
  }


  .contactbox{
      padding-top:2.6rem;
      font-family:'Poppins';
  }
//   .box::-moz-placeholder{
//       font-size: 0.8rem !important;
//   }
 
  .env{
    width: auto;
    height: 50vw;
    background: linear-gradient( 90deg, #FAA41A, #FAA41A 50%,#c47a04 50% ); 
    border-radius: 50%;
    padding:0.5rem;
   
    
  }



  
   .eventimg{
      transform: scale(0.7);
      margin:auto;
      margin-top:-12px;

  }
  .innerdiv{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    transition: all 1s ease-in-out;
    
  }
  .eventhead{
      font-family: 'Montserrat',sans-serif;
      font-weight: 600;
      
  } 
  .head{
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
  }
  .gradbox {
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #9a54ad, #ef757c, #f9af61);
  }  

   .knowmore{
    background: #FEB94A;
    border-radius: 3px;
    line-height: 2rem;
   
   }
  
 


  
#carousel {
  position: fixed;
  height: 200px;
  width: 950px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top:18rem !important;
  

}

.arrow {
  position: absolute;
  width: 30px;
  height: 30px;
 
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  margin-top: 150px;
  z-index: 1000;

 
}

.arrow-right {
  left: 930px;
  margin-right: 15px ;
}

.item {
  text-align: center;
  color:black;
  font-size: 40px;
  position: absolute;
  transition: height 1s, width 1s, left 1s, margin-top 1s, line-height 1s, background-color 1s;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


$level1-height: 250px;
$level1-width: 214px;
$level0-height: 350px;
$level0-width: 300px;


$level-1-left: 690px;
$level0-left: 330px;
$level1-left: 50px;
$level2-left: 50px;


$innerlevel0-height:260px;
$innerlevel0-width:260px;
$innerlevel1-height:220px;
$innerlevel1-width:185px;

.innerlevel0{
  background: rgba(255, 255, 255, 0.8);
  // margin-top: 100%; 
    
  
  border-radius: 15px;
  height: $innerlevel0-height;
  width: $innerlevel0-width;
  // margin-top:2rem;
 

}

// .btn{
//   border: solid 1px black;
// }
.innerlevel1{
  background: rgba(255, 255, 255, 0.8);

  border-radius: 15px;

  height: $innerlevel1-height;
  width: $innerlevel1-width;
  
  

 

}
.innerlevel-1{
  background: rgba(255, 255, 255, 0.8);
 
  border-radius: 15px;

  height: $innerlevel1-height;
  width: $innerlevel1-width;
 
}



.level-1 {
  background: linear-gradient(39.12deg, #9A54AD 8.28%, #EF757C 47.96%, #F9AF61 85.78%);
  box-shadow: 0px 0px 55.257px 22.1028px rgba(0, 0, 0, 0.1);
 
    height: $level1-height;
    width: $level1-width;
    line-height: $level1-height;
    left: $level-1-left;
    margin-top: 40px;
  
    border-radius: 25px;
    padding:20px;   
  
}

.level0 {
  background: linear-gradient(39.12deg, #9A54AD 8.28%, #EF757C 47.96%, #F9AF61 85.78%);
    box-shadow: 0px 0px 55.257px 22.1028px rgba(0, 0, 0, 0.1);
    
    height: $level0-height;
    width: $level0-width;
    line-height: $level0-height;
    left: $level0-left;
  
    
    border-radius: 25px;
    padding:20px;   
    
  
}

.level1 {
  background: linear-gradient(39.12deg, #9A54AD 8.28%, #EF757C 47.96%, #F9AF61 85.78%);
    box-shadow: 0px 0px 55.257px 22.1028px rgba(0, 0, 0, 0.1);
 
    height: $level1-height;
    width: $level1-width;
    line-height: $level1-height;
    left: $level1-left;
    margin-top: 40px;
    
    border-radius: 25px;
    padding:20px;
  
 
   
}



.left-enter {
    opacity: 0;
    left: $level1-left - $level1-width;
    height: $level1-height ;
    width: $level1-width;
    line-height: $level1-height ;
    // margin-top: 40px;
}

.left-enter.left-enter-active {
    opacity: 1;
    left: $level1-left;
    height: $level1-height;
    width: $level1-width;
    line-height: $level1-height;
    // margin-top: 25px;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.left-leave {
    opacity: 1;
    left: $level-1-left;
    height: $level1-height;
    width: $level1-width;
    line-height: $level1-height;
    // margin-top: 25px;
}

.left-leave.left-leave-active {
    left: $level-1-left + $level1-width + 20;
    opacity: 0;
    height: $level1-height ;
    line-height: 120px;
    // margin-top: 40px;
    width: $level1-width ;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.right-enter {
    opacity: 0;
    left: $level-1-left + $level1-width;
    height: $level1-height ;
    width: $level1-width - 20;
    line-height: $level1-height - 30;
    // margin-top: 40px;
}

.right-enter.right-enter-active {
    left: $level-1-left;
    opacity: 1;
    height: $level1-height;
    // margin-top: 25px;
    line-height: $level1-height;
    width: $level1-width;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.right-leave {
    left: $level1-left;
    height: $level1-height;
    opacity: 1;
    // margin-top: 25px;
    line-height: $level1-height;
    width: $level1-width;
}

.right-leave.right-leave-active {
    left: $level1-left - $level1-width;
    opacity: 0;
    height: $level1-height ;
    width: $level1-width ;
    line-height: $level1-height ;
    // margin-top: 40px;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

@media (min-width:1281px)
{.knowmore{
  animation: knowMore 2s;
  animation-iteration-count: 1;

  
}
@keyframes knowMore {
  0% {
    // opacity: 0;
    // height: 0;
    overflow: hidden;
  }
  100%{
    // opacity: 1;
    overflow: unset;
    // height: auto;
  }}

}
@media all and (max-width:768px) {
  .level0{
    
    animation: enter 0.5s ease-in 0s  forwards;
    transition: 1s ease-in-out;
  }
  @keyframes enter{
    from{
        opacity: 0;
       
    }
    to{
        opacity: 1;
        
    }
  }
  .eventimg{
    transform: scale(0.6);
  }
 
  
  .level-1{
    display: none;
  }
  .level1{
    display: none;
  }

  .innerlevel-1{
    display: none;
  }
  .innerlevel1{
    display: none;
  }

  .level0{
    height:18rem;
    width:16rem;
    left:5rem;
  
  }
  .innerlevel0{
    height: 13.5rem;
    width:13.5rem;
    
    
  }
 .arrow{
     margin-top: 20rem;
     margin-left:7rem;
   
     
 }
 .arrow-right
 {

     left:18rem;
     margin-left: 0;
     
 }
  #carousel{
    height:100%;
    width:100%;
     
    
  }
}


@media all and (max-width:375px) {
  
  .level0{
   
    
   
    height:16rem;
    width:14rem;
  
  }
  .innerlevel0{
    height: 11.5rem;
    width:12rem;
    
    
  }
 
  .arrow{
    margin-top: 18rem;
     
}
.arrow-right
{

    left:16rem;
    
}

}

@media all and (max-width:320px) {
 .level0{
  left: 4.25rem;
  bottom: 24rem;
  height: 14rem;
  width: 12rem;
top:-2rem;

 }
 .innerlevel0{
  height: 9.5rem;
  width:10rem;
   
}
.eventimg{
  transform: scale(0.6);
}

  .arrow{
    margin-top: 13rem;
  
    font-size: 22px;
      
}
.arrow-right
{

    left:12rem;
    
}
}