@tailwind base;
@tailwind components;
@tailwind utilities;

.circles {
  border-radius: 50%;
  height: 21rem;
  width: 21rem;
}

.prize1 {
  background: linear-gradient(
    133.53deg,
    #312161 18.24%,
    #8f4497 51.72%,
    #a73c61 90.42%
  );
  transform: scale(1.23);
}
.prize2 {
  background: linear-gradient(
    51.75deg,
    #8f4497 25.05%,
    #ef757c 53.11%,
    #f9af61 77.54%
  );
}

.prize3 {
  background: linear-gradient(
    53.49deg,
    #88155d 15.29%,
    #c7466d 49.63%,
    #f9ab58 80.24%
  );
}
.change-opacity {
  filter: opacity(0.6);
}
.circles:hover {
  z-index: 40;
}

@media only screen and (min-width: 768px) {
  .circles:hover .caption {
    color: white;
    transform: translateY(50px);
    z-index: 20;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
  }
  .lines:hover .caption-2 {
    color: white;
    transform: translateY(50px);
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
  }
}
.lines {
  background-color: white;
}
.lines:hover .prize1 {
  transform: scale(1.37);
}
@media only screen and (max-width: 767px) {
  .circles p {
    color: white;
  }
  .circles {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -45px;
    height: 14rem;
    width: 14rem;
  }
}
