@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.font {
  font-family: "Montserrat", "san-serif";
}
.line {
  letter-spacing: 1px;
}
.nav {
  border-color: #f9ae5e;
  border-top-left-radius: 12rem;
  border-bottom-left-radius: 12rem;
}
.grad {
  position: relative;
  border: 3px solid transparent;
  border-radius: 30px;
  background: white;
  background-clip: padding-box;
  padding: 6px;
}

.grad:hover {
  transform: scale(1.1);
}
.grad::after {
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  background: linear-gradient(to left, #9a54ad, #ef757c, #f9af61);
  content: "";
  z-index: -1;
  border-radius: 30px;
}

.caption-md {
  margin-right: 10%;
}

.icons {
  margin-left: 16%;
  animation-name: icon-right;
  animation-duration: 1.5s;
}

@media only screen and (max-width: 767px) {
  .rect {
    height: auto;
    left: 50%;
    width: 200px;
    margin-left: -100px;
  }
  .box,
  .arcs {
    height: auto;
    left: 51%;
    width: 200px;
    margin-left: -80px;
  }
  .circle {
    margin-top: 13rem;
    left: 50%;
    width: 50px;
    margin-left: -90px;
  }
}

@media only screen and (max-width: 320px) {
  .icons {
    margin-left: 12%;
  }
  .caption {
    margin-top: -30px;
    font-size: 1.9rem;
    line-height: 2.2rem;
  }
}
