@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.font {
  font-family: "Montserrat", "san-serif";
}
.line {
  letter-spacing: 1px;
}
.nav {
  border-color: #f9ae5e;
  border-top-left-radius: 6rem;
  border-bottom-left-radius: 6rem;
  box-shadow: 10px 10px 20px gray;
}

.border {
  transition: all 0.2s ease-in-out;
  position: relative;
  background: linear-gradient(to left, #9a54ad, #ef757c, #f9af61);
  border-radius: 30px;
  padding: 3px;
  box-shadow: 10px 8px 10px gray;
}
.inner {
  background: white;
  padding: 4.5%;
  border-radius: 30px;
}
.border:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1) translateY(-10px);
}

.icons {
  margin-left: 16%;
  animation-name: icon-right;
  animation-duration: 1.5s;
}

@media only screen and (max-width: 767px) {
  .rect {
    height: auto;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    margin-top: 10px;
  }
  .box,
  .arcs {
    height: auto;
    left: 50%;
    width: 200px;
    margin-left: -77px;
  }
  .box {
    margin-top: 10px;
  }
  .arcs {
    margin-top: 15px;
  }
  .circle {
    margin-top: 13.4rem;
    left: 50%;
    width: 48px;
    margin-left: -90px;
  }
}
.top {
  margin-top: 200vw;
}

@media only screen and (max-width: 320px) {
  .icons {
    margin-left: 12%;
  }
  .caption {
    margin-top: -15px;
    font-size: 1.9rem;
    line-height: 2.2rem;
  }
}
