@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,500&display=swap');

.bginput{
    background-color: #F4F4F4;
    line-height: 1rem;
    width: 400px;
    color: #495057;
    background-clip: padding-box;
    border-radius: 0.25rem;
    font-family: "Arial";
    border: none;
    display: block;
    padding: 0.9rem;
    resize: none !important;
}
.submitButton {
    height: 40px;
    width:400px;
    margin: 0 auto;
    color: #e7e9e7;
    
    text-align: center;
    padding: 0 32px;
    line-height: 1.4rem;
    border: none;
    position: relative;
    border-radius: 25px;
    background-color: #df9318;
    margin-bottom: 2%;
    cursor: pointer;
  }
  .contactline{
    border: none;
    background-color: white;
    border-bottom: solid 1px black;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    width:12%;
    padding-top: 10px;
  }
  .contactbox{
      padding-top:2.6rem;
      font-family:'Poppins';
  }
  input::placeholder{
      font-size: 0.8rem;
  }
  textarea::placeholder{
    font-size: 0.8rem;
  }
  .env{
    width: 50vw;
    height: 50vw;
    background: linear-gradient( 90deg, #FAA41A, #FAA41A 50%,#c47a04 50% ); 
    border-radius: 50%;
    padding:0.5rem;
   
    
  }
/* Carousel */

  /* .card{
    background: linear-gradient(39.12deg, #9A54AD 8.28%, #EF757C 47.96%, #F9AF61 85.78%);
    box-shadow: 0px 0px 55.257px 22.1028px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    
    height:350px;
    width:300px;
    padding:1.5rem;
    
      } */
  /* .cardbox{
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    height: 300px;
    width: 250px;
    
    padding: 1.9rem;
    
  }
  .main{
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
  
    height: 250px;
    width: 250px;
    padding: 1.9rem;
    
    

  }
  
  .eventimg{
      transform: scale(0.9);

  }
  .eventhead{
      font-family: 'Montserrat';
  }
  .grad {
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #9a54ad, #ef757c, #f9af61);
  }
  /* .registerbtn{
    

     border: 6px solid linear-gradient(89.92deg, #9A54AD 19.67%, #9C55AC 19.68%, #EF757C 49.81%, #F9AF61 82.3%);
    
    
  } */
  /* .knowmore{
    background: #FEB94A;
    border-radius: 2px;
    line-height: 2rem;
    padding: 0 32px;
  } */
  /* .rowCarousel
  {
    display: none !important;
  } */
/*   
  .carousel
  {
    transform: translateY(-40px);
    height: 700px;
    perspective:600px;
  
  }

  
  .carousel .carousel-item{
      height:350px !important;
      width: 300px !important;
  }
 
  .carousel .carousel-item{
    opacity: 1 !important;
    
  }


  .carousel .carousel-item{
    background: linear-gradient(39.12deg, #9A54AD 8.28%, #EF757C 47.96%, #F9AF61 85.78%);
  
    border-radius: 25px;
    
    height:350px;
    width:300px;
    padding:1.5rem;
    
      }
    
     
  
  .carousel .carousel-item p
  {
    margin :0; 
    padding: 0;
    /* background: #fff; */
    /* color:#000; */
    /* box-sizing: border-box;
    padding:10px 5px;
    font-weight:bold;
    font-size:16px;
    text-align:center;
  }
  */
   
