@tailwind base;
@tailwind components;
@tailwind utilities;

.dot {
  width: 40px;
  height: 40px;
  background: orange;
  border-radius: 100%;
}
.vertical-timeline-element-icon {
  box-shadow: none !important;
  padding-left: 2px;
}

.vertical-timeline.vertical-timeline--one-column-right::before {
  background-color: black !important;
  height: 90%;
}
.vertical-timeline-element-content {
  box-shadow: none !important;
}

@media screen and (min-width: 1024px) {
  .vertical-timeline.vertical-timeline--one-column-right {
    right: -90px !important;
  }
  .vertical-timeline {
    transform: rotate(-90deg);
    margin: 10px !important;
  }
  .vertical-timeline-element {
    margin: -10px 0 !important;
  }
  // .vertical-timeline-element:first-child {
  //   margin-left: 20px !important;
  // }

  .vertical-timeline-element-content {
    box-shadow: none !important;
    height: 50%;
    width: 20% !important;
  }
  .data {
    transform: rotate(90deg);
    text-align: center;
  }
  .vertical-timeline--one-column-right .vertical-timeline-element-content {
    margin-left: 72% !important;
  }

  .vertical-timeline--one-column-right
    .vertical-timeline-element-content-arrow {
    transform: rotate(180deg) !important;
  }
  .vertical-timeline-element-content p {
    line-height: 1 !important;
    font-size: smaller !important;
    font-weight: 400 !important;
    margin-left: 12px !important;
  }
}
