@tailwind base;
@tailwind components;
@tailwind utilities;

.dot {
  width: 40px;
  height: 40px;
  background: #fda445;
  border-radius: 100%;
}
.vertical-timeline-element-icon {
  box-shadow: none !important;
  padding-left: 2px;
}
.backg {
  background-image: url("./images/cardbackground.png");
  background-size: cover;
}

.vertical-timeline.vertical-timeline--one-column-right::before {
  background-color: black !important;
  border: none;
  border-top: 4px dashed black;
}
.vertical-timeline-element-content {
  box-shadow: none !important;
}

@media screen and (min-width: 1024px) {
  .vertical-timeline.vertical-timeline--one-column-right::before {
    height: 80%;
    margin-top: 4%;
  }
  .vertical-timeline.vertical-timeline--one-column-right {
    right: -90px !important;
  }
  .vertical-timeline {
    transform: rotate(-90deg);
    margin: 10px !important;
  }
  .vertical-timeline-element {
    margin: -10px 0 !important;
  }

  .data {
    text-align: center;
  }
  .vertical-timeline--one-column-right .vertical-timeline-element-content {
    margin-left: 78% !important;
  }

  .vertical-timeline--one-column-right
    .vertical-timeline-element-content-arrow {
    transform: rotate(180deg) !important;
  }
  .vertical-timeline-element-content p {
    line-height: 1 !important;
    font-size: smaller !important;
    font-weight: 400 !important;
    margin-left: 12px !important;
  }
}
